.friendItem {
  display: flex;
  background-color: #ed0a7d;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}

.name {
  color: var(--font-color);
}

.info {
  margin: 0 25px;
}

.btn {
  /* padding: 0; */
  line-height: 1;
  margin: 5px;
}

.img {
  margin: 5px;
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
