.friend {
  display: flex;
  background-color: #772963;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  width: 400px;

  border-radius: 20px;
}

.info {
  width: 180px;
}
