.addForm {
  margin: 25px;
  background-color: #bb0e90b4;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
  /* align-items: center; */
}
